# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/*
m-mongo/src/.idea/*
r-redis/src/.idea/*
r-rabbitmq/src/.idea/*
c-celery/src/.idea/*
django-celery/finance/.idea/*

c-celery/src/celerybeat-schedule
__pycache__/
.pytest_cache/

# Environments
.env
.venv
env/
venv/

# Django stuff:
*.log
db.sqlite3
db.sqlite3-journal
